*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: monospace;
}
nav{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210812/pngtree-business-texture-three-dimensional-cut-light-effect-gradient-line-purple-background-image_761681.jpg');
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 10px 0;
}
label.logo a img{
  width: 65px;
  margin: 5px 50px;
}

.search-bar {
  display: inline-block;
  margin-left: auto;
  position: relative;
}
.search-bar .input-search:focus{
  border: 1px solid #8707ff;
  outline: 3px solid hsl(271, 100%, 79%);
}

.search-bar .input-search{
  position: relative;
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 300px;
}

.search-bar .btn-search{
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active,a:hover{
  color: #0082e6 ;
  transition: .5s;
  font-size: 18px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;

  }

  ul{
    position: fixed;
    width: 100%;
    height: 90%;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: scroll;
    z-index: 999;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}



