<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVT</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    {% block extra_css %}
    {% endblock %}
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa fa-bars"></i>
    </label>
    <!-- Logo -->
    <label class="logo"><a href="#"><img class="img-logo" src="{% static 'images/logo.png' %}" alt="logo"></a></label>
    
    <!-- Search bar -->
      <div class="search-bar">
        <input class="input-search" type="text" placeholder="Tìm kiếm bài hát">
        <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>


    <!-- Option -->
    <ul>
      <li><a class="active" href="#"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="#"><i class="fa-solid fa-book"></i> Thư viện</a></li>
      <li><a href="#"><i class="fa-brands fa-discourse"></i> Khám phá</a></li>
      <li><a href="#"><i class="fa-solid fa-wave-square"></i> Bản xếp hạng</a></li>
      <li><a href="#"><i class="fa-solid fa-icons"></i> Mới nhất</a></li>
    </ul>
  </nav>
 

      {% block body_block %}
      {% endblock %}
      {% block js_block %}   
      {% endblock %}
     
</body>
</html>