{% extends 'header.html' %}

{% load static %}

{% block body_block %}

  {% comment %} Carousel {% endcomment %}
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-slide" src="{% static 'images/slide1.jpg' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-slide" src="{% static 'images/slide2.jpg' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-slide" src="{% static 'images/slide3.jpg' %}" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon btn btn-secondary" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon btn btn-secondary" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    {% comment %} Top 100 music {% endcomment %}
    <div class="top-music">
      <h1 class="title">Top 100</h1>
      <div class="row g-5">
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <div class="img-container">
              <a class="img-top" href="#"><img src="{% static 'images/top100nhactre.jpg' %}" class="card-img-top" alt="...">
                <div class="overlay">
                  <!-- Icon hoặc nội dung bạn muốn hiển thị ở giữa -->
                  <i class="fas fa-play"></i>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a class="card-title" href="#">Top 100 Nhạc Trẻ</a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <div class="img-container">
              <a class="img-top" href="#"><img src="{% static 'images/top100danceviet.jpg' %}" class="card-img-top" alt="...">
                <div class="overlay">
                  <i class="fas fa-play"></i>
                </div>
              </a>

            </div>
            <div class="card-body">
              <a class="card-title" href="#">Top 100 Nhạc Dance Việt</a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <div class="img-container">  
              <a class="img-top" href="#"><img src="{% static 'images/top100rapviet.jpg' %}" class="card-img-top" alt="...">
                <div class="overlay">
                  <i class="fas fa-play"></i>
                </div>
              </a>

            </div>
            
            <div class="card-body">
              <a class="card-title" href="#">Top 100 Nhạc Rap Việt</a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <div class="img-container"> 
              <a class="img-top" href="#"><img src="{% static 'images/top100adm.jpg' %}" class="card-img-top" alt="...">
                <div class="overlay">
                  <i class="fas fa-play"></i>
                </div>
              </a>

            </div>
            <div class="card-body">
              <a class="card-title" href="#">Top 100 Nhạc ADM Việt</a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
    </div>
<!-- New music -->
    <div class="new-music">
      <h2 class="title">{{ name_list1 }}</h2>
      <div class="row">
        {% for song in new_songs %}
            <div class="col-12 col-sm-6 col-md-4">
              <div class="loader" onclick="getSongId('{{ song.preview_url }},{{song.name}},{{song.image}},{{ song.artists }}')">
                <div class="col-9 col-md-9"> 
                  <div class="song">
                    <p class="name">{{ song.name }}</p>
                    <p class="artist">{{ song.artists }}</p>
                  </div>
                </div>
                <div class="col-2 col-md-2"> 
                  <img class="albumcover" src="{{song.image}}" alt="{{ song.title }}">
                </div>
                <div class="col-1 col-md-1"> 
                  <div id="loading_{{song.name}}" class="loading">
                  </div>
                  <div id="play_{{song.name}}" class="play"></div>
                </div>
                
              </div>
            </div>
        {% endfor %}

        {% comment %} <div class="col-4">
          <div class="loader">
            <div class="song">
              <p class="name">Time in a Bottle</p>
              <p class="artist">Jim Corce</p>
            </div>
            <img class="albumcover" src="https://photo-resize-zmp3.zmdcdn.me/w600_r1x1_jpeg/cover/0/f/b/3/0fb3ab6b2dd74fa6b7741ece6d47c29d.jpg" alt="">
            <div class="loading">
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
              <div class="load"></div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="loader">
            <div class="song">
              <p class="name">Time in a Bottle</p>
              <p class="artist">Jim Corce</p>
            </div>
            <img class="albumcover" src="https://photo-resize-zmp3.zmdcdn.me/w600_r1x1_jpeg/cover/0/f/b/3/0fb3ab6b2dd74fa6b7741ece6d47c29d.jpg" alt="">
            <div class="play"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="loader">
            <div class="song">
              <p class="name">Time in a Bottle</p>
              <p class="artist">Jim Corce</p>
            </div>
            <img class="albumcover" src="https://photo-resize-zmp3.zmdcdn.me/w600_r1x1_jpeg/cover/0/f/b/3/0fb3ab6b2dd74fa6b7741ece6d47c29d.jpg" alt="">
            <div class="play"></div>
          </div>
        </div> {% endcomment %}
      </div>

  </div>
  <div class="content2">
    <h1 class="title">{{ name_list2 }}</h1>

    <table class="table">
      <caption>{{ name_list2 }}</caption>
      <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-5">Tiêu đề</th>
          <th scope="col" class="col-3">Album</th>
          <th scope="col" class="col-3">Ngày thêm</th>
        </tr>
      </thead>
      <tbody>
        {% for song2 in second_list %}
        <tr class="row-tr" onclick="getSongId('{{ song2.preview_url }},{{song2.name}},{{song2.image}},{{ song2.artists }}')">
          <th class="stt" scope="row" style="vertical-align: middle;">{{ forloop.counter }}</th>
          <td class="align-middle">
            <div class="content_title">
              <img class="img_ct" src="{{song2.image}}" alt="{{ song2.title }}">
              <div class="song_info">
                <p class="song_name">{{song2.name}}</p>
                <p class="artist_name">{{ song2.artists }}</p>
            </div>       
            </div>
          </td>
          <td class="name_album" style="vertical-align: middle;">{{ song2.album }}</td>
          <td class="date_ct" style="vertical-align: middle;" >{{ song2.added_at }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <h2 class="title">Featured Artists</h2>

  <ul>
    {% for track in tracks %}
    <li>
        <h3>{{ track.name }}</h3>
        <p><strong>Artists:</strong> {{ track.artists }}</p>
        <img src="{{ track.image }}" alt="Album cover for {{ track.name }}" width="200">
        {% if track.preview_url %}
            <p><a href="{{ track.preview_url }}" target="_blank">Preview Audio</a></p>
            <audio controls>
                <source src="{{ track.preview_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {% else %}
            <p>No preview available</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h2>Tracks in Playlist</h2>
<ul>
    {% for track in tracks %}
        <li>
            <a href="https://open.spotify.com/track/{{ track.track.id }}" target="_blank">{{ track.track.name }} by {{ track.track.artists.0.name }}</a>
        </li>
    {% endfor %}
</ul>

  <div class="top-artist">
    {% for artist in artists %}
          <div class="card-artist">
            
            <img class="img-ar" src="{{ artist.image }}" alt="{{ artist.name }}">
            <div class="iconPlay">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
              </svg>
            </div>
            <div class="body-artist">
                <h2 class="name-artist">{{ artist.name }}</h2>
                <p class="artist-text">Nghệ sĩ</p>
            </div>
        </div>
      {% endfor %}
  </div>

{% include 'quick_player_bar.html' %}

{% include 'footer.html' %}
{% endblock %}

