
{% load static %}

{% block body_block %}
  {% comment %} Quick_player_bar {% endcomment %}
  <div class="container">
    <div class="bar_music">
      <div id="quick_player">
          <div class="infoMusic">
            <img id="imageMusic" src="https://i.scdn.co/image/ab67616d0000b2732103bdcdf1d4369f212b6862" alt="" >
            <div class="content_infoMusic">
              <h5 id="nameMusic">Now Playing: Song Title</h5>
              <h5 id="artistMusic">Artist</h5>
            </div>
        </div>
        
          <div id="quick_player_bar">
            <div class="element_bar">
              <div id="prev_btn"><i class="fa-solid fa-backward-step"></i></div>
              <div id="play_pause_btn"><i class="fa-solid fa-play"></i></div>
              <div id="next_btn"><i class="fa-solid fa-forward-step"></i></div>
            </div>
              <div id="customAudioPlayer">
                <div id="currentTime">0:00</div>
                <input type="range" id="progressBar" name="vol" value="0" min="0" max="100">
                <div id="timeEnd">0:00</div>
            </div>
            <audio id="myAudio">
                <source src="https://p.scdn.co/mp3-preview/ce4f2b6156ee92ea01ce1578489640676bc6c059?cid=f01ab01a822b4249971356a03432eda3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
          </div>
        
          <div class="feature">
            <div id="volume_control">
              <div id="volume_icon"><i class="fa-solid fa-volume-high"></i></div>
              <input type="range" id="volumeControl" value="100" max="100">
          </div>
    </div>
  </div>  
    </div>
  </div>


{% endblock %}
{% block js_block %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/vi.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
